body {
  background-image: url("https://i.pinimg.com/originals/bd/af/76/bdaf7600ad567b8251d9951c5e397420.jpg");
  background-color: grey;
  font-family: Helvitica, sans-serif;
}

h1, h3 {
  margin: 0;
  text-shadow: 0 0 3px #FF0000;
}

header {
  background-image: url("https://i.pinimg.com/236x/e5/47/a5/e547a578794634635212f480b58e091d--free-background-images-background-patterns.jpg");
  background-color: blue;
  color: #FFFFFF;
  text-shadow: 0 0 3px #FF0000;
  text-align: center;
  padding: 10px;
  position:relative;
}

.content {
  padding: 10px;
  float:left;
  width: 50%;
}

.nav {
  float:right;
  position:relative;
  width: 30%;
}

footer {
  padding: 10px;
  background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX4765261.jpg");
  color: #FFFFFF;
  margin-top: 30%;
}
